    <h1>Uptime Monitoring</h1>
    <h2>Made Simple</h2>
    <div class="blurb">
        We offer free, simple uptime monitoring for HTTP/HTTPS sites. When your site goes down we'll send you a text to let you know. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque perspiciatis, enim quam culpa doloremque, nostrum alias cumque ipsa hic recusandae tempore blanditiis cum laudantium placeat reprehenderit illum nihil optio corrupti?
    </div>
    <div class="ctaWrapper">
        <a class="cta green" href="account/create">Get Started</a>
        <a class="cta blue" href="session/create">Login</a>
    </div>

